---
title: false
styles: true
---

// Typography
$bodytype: (
  font-family: "Gowun+Dodum",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: "Gowun+Dodum",
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Gowun+Dodum",
  regular: 400,
  cap-height: 0.68
) !default;

@import "alembic";
